.logo-header {
        //border: 1px dashed red;
        color: $white;
        font-size: clamp(1rem, -0.2143rem + 1.4286vw, 1.5rem);
        cursor: pointer;

    }

    .search-icon {
            position: absolute;
            left: 12px;
            width: 18px;
            height: 18px;
            color: $gray;
            cursor: pointer;
            z-index: 2;

        }


        .search-header {
            //border: 1px dashed red;
            border: none;
            width: 350px;
            height: 30px;
            border-radius: 15px;
            padding: 0 1rem 0 2.5rem;

            &:focus {
                
                outline: none;
                border: solid 2px $mainColor;
            }
        }

        .user-header {
            background-color: $white;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border: 2px solid $mainColor;
                    
        }