/* VARIABLES */
$gray: #1a161f;
$white: #fff;
$lightGray : #cfcfcf;
$black: #0d0c0f;
$mainColor: #f3223b;

$fontFam1: "Roboto";
$fontFam2: "Montserrat";

/* MIXINS */

@mixin flexB {
    display: flex;
    justify-content: space-between;
}

@mixin grid {
    display: grid;
    gap: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto' , arial;
    box-sizing: border-box;
}




.header {
    //border: dashed red; 
    @include grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 3rem;
    align-items: center;
    padding: 2rem;
    background-color: $black;
    
    .logo-header {
        //border: dashed red; 
        color: $white;
        font-size: 1.2rem;

        & h2 {
            text-align: center;
        }
        
        
    }
    
    .menu-header {
        //border: dashed red; 
        @include flexB;
        gap: 1rem;
        list-style: none;
        padding: 1rem;
        
        & a {
            text-decoration: none;
            font-size: .9rem;
            font-weight: 500;
            color: $white;
        }
    }
    
.searchBar-cntr {
    //border: dashed red; 
    display: flex;
    justify-content: center;

    .search-header {
        //border: dashed red; 
        width: 80%;
        height: 30px;
        border-radius: 16px;
        border: none;
        background-color: $gray;
    }
}

    .user-cntr {
       //border: dashed red; 
        display: flex;
        justify-content: center;
    }
    .user-header {
        //border: dashed red; 
        align-self: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $white;
    }
}

.body-pg {
    display: grid;
    grid-template-columns: 1fr 7fr;
    
    .sideBar-body {

        //border: dashed red; 
        height: 100vh;
        background-color: $gray;
        padding: 1rem 0 0 1.5rem;
        
        & h2 {
            color: $lightGray;
            font-size: 1rem;
            font-weight: 400;
            padding-left: 1rem;
            padding-bottom: 2rem;
        }
        
        .menuList-SB {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            & li {
                list-style: none;
            }
            
            & a {
                color: $lightGray;
                text-decoration: none;
                font-size: .8rem;
            }
        }
        
    }
    
    .midSection-body {
        background-color: $black;
        padding: 0 2.5rem;
        
        #infoCard-body {
            //border: dashed red; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $gray;
            border-radius: 0 2rem 2rem 0;
            padding: 0 0 0 1rem;

            width: 100%;
            height: 45vh;

            h2 {
                color: $white;
                font-size: 3.5rem;
                font-weight: 600;
            }

            p {
                padding: 1rem 0 2.5rem 0;
                color: $white;
                font-size: 1.1rem;
                font-weight: 300;
            }

            .btn-IC-body {
                width: 15%;
                padding: 1.5rem;
                border-radius: 1.5rem;
                color: $white;
                text-decoration: none;
                font-size: 1.1rem;
                font-weight: 500;
                text-align: center;
                background-color: $mainColor;
            }

        }
    }

}